@import '../../../../globalStyle'

.call__navbar
  display: flex
  height: 65px
  background-color: $navbar-color
  width: 80%
  margin: 0 auto
  margin-top: 20px
  box-shadow: $box-shadow

  &__info
    display: flex
    justify-content: flex-start
    width: 50%
    color: white

    & span
      margin: 3px 15px 0px 0px

    & h3
      margin-top: 23px

  &__contact
    display: flex
    justify-content: flex-end
    width: 50%

  & svg
    margin: 15px 8px 0px 0px

.call__date
  display: flex
  border-bottom: 1px solid #e6e6e6
  width: 80%
  margin: 0 auto
  background: white

  & img
    width: $imgContactWidth
    border-radius: $imgContactBorder
    height: $imgContactHeight
    margin: 3%

  &__user
    width: 70%

    & h3
      margin: 0
      margin-top: 55px

    & h4
      margin: 0
      font-family: $fontStyle
      font-weight: bold

@media screen and ( max-width: 768px  )
  .call__navbar
    width: 100%
    margin-top: 0px
    box-shadow: 0px

  .call__date
    width: 100%

    &__user
      width: 70%

      & h3
        margin: 0
        margin-top: 20px
