@import  '../../../globalStyle'

.calls__container__user
  display: flex
  border-bottom: 1px solid #e6e6e6

.calls__img
  width: 20%

  &__user
    width: $imgContactWidth
    border-radius: $imgContactBorder
    height: $imgContactHeight
    margin: 12%

.calls__date
  width: 70%
  margin: 4%

  & h3
    margin: 0

  & h4
    margin: 0
    margin: 4px 0px 0px 4px
    font-family: $fontStyle
    font-weight: bold

.calls__icon
  width: 10%
  margin-top: 6%
