
@media screen and ( max-width:425px  )
.chats_container
  display: flex
  border-bottom: 1px solid #e6e6e6

  &_img
    width: 20%

    & img
      width: 60px
      border-radius: 100%
      height: 55px
      margin: 12%

  &__message
    width: 80%

    &__nameAndDate
      width: 100%
      display: flex
      justify-content: space-between

      & h3
        margin: 0
        margin-top: 4.5%

    &__iconAndMessage
      width: 100%
      display: flex
      justify-content: space-between

      & h3
        margin: 0
        margin-top: 1%

@media screen and ( max-width:320px  )

  .chats_container_img
    width: 20%

    & img
      width: 50px
      border-radius: 100%
      height: 50px
      margin: 12%
