@import '../../../globalStyle.sass'

.chats_container
  display: flex
  width: 80%
  margin: 0 auto
  background: rgb(252, 252, 252)
  position: relative

  &_img
    width: 7%
    margin-top: 6px

    & img
      width: 60px
      border-radius: 100%
      height: 55px
      margin: 12%

  &__message
    width: 80%
    border-bottom: 1px solid #e6e6e6

    &__nameAndDate
      width: 100%
      display: flex
      justify-content: space-between

      & h3
        margin: 0
        margin-top: 2.6%

      & h4
        margin: 0
        margin: 15px 7px 0px 0px

    &__iconAndMessage
      width: 100%
      display: flex
      justify-content: space-between
      font-family: $fontStyle
      font-weight: 500

      & h3
        margin: 0
        color: $text-color-secondary!important

      & span
        margin-right: 7px

.showImage
  width: 250px!important
  height: 150px!important
  border-radius: 0%!important
  z-index: 5!important
  position: absolute
  transition: 0.5s
  margin-left: 55px!important

@media screen and ( max-width:768px  )
  .chats_container
    display: flex
    width: 100%!important
    margin: 0 auto

    &_img
      width: 20%!important
      margin-top: 0px

    &__message
      width: 80%

  .chats_container__message__nameAndDate h3
    margin: 0
    margin-top: 5%

@media screen and ( max-width:425px  )
  .chats_container
    display: flex
    width: 100%!important
    margin: 0 auto

    &_img
      width: 20%!important
      margin-top: 0px

    &__message
      width: 80%

@media screen and ( max-width:320px  )
  .chats_container_img
    width: 20%

    & img
      width: 50px
      border-radius: $imgContactBorder
      height: 50px
      margin: 12%
