@import '../../globalStyle'

@media screen and ( max-width:425px  )

  .path
    color: red
  .navbar
    background-color: $navbar-color
    height: 110px

    &__high
      display: flex
      justify-content: space-between

      &__title
        font-size: 20px
        color: white
        margin: 3.5%
        font-weight: bold

      &__list
        display: flex
        list-style: none
        margin: 3%

  .navbar__down
    display: flex

    &__list
      display: flex
      justify-content: space-between
      width: 75%
      margin-top: 6.6%
      list-style: none

    &__list a
      font-size: 17px
      text-decoration: none
      text-transform: uppercase
      color: #9eceaa
      font-weight: bold

    &__camera
      margin-top: 5%
      margin-left: 2%
