
//Style img contact
$imgContactWidth: 60px
$imgContactBorder: 100%
$imgContactHeight: 55px

//Font text 
$fontStyle: 'Lato', sans-serif

//color text
$text-color-secondary: #5e5e5e

//color navbar
$navbar-color: #075E54

//box-shadow
$box-shadow:  2px -3px 5px gray
